@font-face {
  font-family: SpaceGrotesk;
  src: url("fonts/SpaceGrotesk.ttf");
}

*::-webkit-scrollbar {display: none;}
* {-ms-overflow-style: none;
    scrollbar-width: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;}

html, body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  width:100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding:0;
  background: #f4f0ec;
}

.wrapper {
  width: 101%;
  height: 100%;
  position:fixed;
  overflow-y: hidden !important;
  overflow-x : scroll !important;
}

.all-projects {
  width: auto;
  height: 100%;
  padding: 0;
  margin:0;
  white-space: nowrap;
}

.project-spine {
  display: inline-block;
  vertical-align:bottom;
  position: relative;
  width: 4rem;
  height: 100%;
  background: #f4f0ec;
  box-shadow: -2px 0px 8px #999;
  cursor: pointer;
}

.project-spine-content {
  display: inline-block;
  position: relative;
  width: 75%;
  height: auto;
  padding:0.5em;
  margin-left: auto;
  margin-right: 0;
  display: block;
  position: relative;
  height: 100vh;
}

.title-text {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 3.5rem;
  padding:0;
  font-family:SpaceGrotesk;
  color:#000;
  text-align: left;
  white-space: nowrap;
  writing-mode: vertical-lr;
}

.marquee-up, .marquee-down{
  display: inline-block;
  vertical-align:bottom;
  position: relative;
  width: 4rem;
  height: 100%;
  background: #f4f0ec;
  cursor: pointer;
}

.marquee-up:hover, .marquee-down:hover{
  background: #000;
  color: #fff !important;

}

.abstract-text {
  display:none;
}

.student-name {
  display:none;
}

.url {
  display:none;
}

.project-spine:hover{
  background-color: #000;
}
.project-spine:hover .title-text{
  color: #000;
} 

.all-projects .project-spine.active {
  width: 25vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin:0;
  pointer-events:none;
  background-color: #000;
}

.all-projects .project-spine.active .title-text {
  display:block;
  width:100%;
  margin:0;
  overflow: auto;
  word-break: break-word;
  white-space: normal;
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  background-color: transparent;
}

.all-projects .project-spine.active .abstract-text {
  display:inline-block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  z-index: 11;
  position: relative;
}

.all-projects .project-spine.active .student-name {
  display:block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.all-projects .project-spine.active .url {
  display:block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  text-decoration:none;
  pointer-events:auto;
}

.all-projects .project-spine.active .url:hover {
text-decoration:underline;
}


.all-projects .project-spine-always-active {
  width: 25vw;
  height: 100vh;
  display:inline-block;
  vertical-align:bottom;
  height: calc(var(--vh, 1vh) * 100);
  background: #6869e0;
  margin:0;
}

.all-projects .project-spine-always-active .title-text {
  display:block;
  width:95%;
  margin:0;
/*  overflow: auto;*/
  word-break: break-word;
  white-space: normal;
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.all-projects .project-spine-always-active .abstract-text {
  display:inline-block;
  margin:0;
  width:95%;
/*  overflow: auto;*/
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.block-link{
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.project-spine .div-name{
    display: block;
    opacity: 0;
}

.project-spine .div-name.active{
  opacity: 1;
}

@media screen and (min-width: 845px) {
.active-desktop{
  display: initial !important;
}

.active-mobile{
  display: none !important;
}
}

.div-name{
  position: absolute;
}

.block-link{
  height: 100%;
}