

@media screen and (max-width: 844px) {


@font-face {
  font-family: Westmeath;
  src: url("./Westmeath.otf");
}

html, body {
  margin: 0;
  padding:0;
  overflow-y: hidden !important;
  overflow-x: auto !important;
  overscroll-behavior: none;
}

.all-projects * {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.all-projects {
  width: 518vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0;
  margin:0;
  font-size: 1em;
  box-shadow: 0 0 10px #333;
}
.project-spine {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  box-shadow: -2px 0px 8px #999;
}

.title-text {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 2rem;
  font-family:Westmeath;
  color:#000;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 10% 120%;
  -moz-transform-origin: 10% 120%;
  transform-origin: 10% 120%;
  white-space: nowrap;
}

.abstract-text {
  display:none;
}

.title-thesis {
  display:none;
}
 
.close {
  display:none;
}

.title-textt {
  display:none;
}


 .all-projects .project-spine.active {
  width: 300px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: grey;
  margin:0;
}

.all-projects .project-spine.active .title-text {
  padding-left: 10px;
  font-size: 1.5rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}

.all-projects .project-spine.active .title-textt {
  display:inline-block;
  padding-left: 10px;
  font-size: 1.5rem;
  font-family:Westmeath;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}

.all-projects .project-spine.active .title-thesis {
  display:inline-block;
  font-family:Westmeath;
  padding-left: 10px;
  font-size: 2rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}



.all-projects .project-spine.active .abstract-text {
  display:inline-block;
  padding-left: 10px;
  font-size: 1rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}

.all-projects .project-spine.active .close {
  display:block;
  padding-left: 10px;
  font-size: 2rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}


}
