@media screen and (max-width: 844px) {

@font-face {
  font-family: Westmeath;
  src: url("./Westmeath.otf");
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; 
  scrollbar-width: none; /
}

html, body {
  margin: 0;
  padding:0;
  overflow-y: hidden !important;
  overflow-x : scroll !important;
  overscroll-behavior: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position:fixed;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden !important;
  overflow-x : scroll !important;
}

.all-projects {
  width: auto;
  height: 100vh;
  white-space: nowrap;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0;
  margin:0;
  font-size: 1em;
}

.project-spine {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  box-shadow: -2px 0px 8px #999;
}

.title-text {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 2rem;
  font-family:Westmeath;
  color:#000;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 10% 120%;
  -moz-transform-origin: 10% 120%;
  transform-origin: 10% 120%;
  white-space: nowrap;
}

.abstract-text {
  display:none;
}

.title-thesis {
  display:none;
}
 
.close {
  display:none;
}

 .all-projects .project-spine.active {
  width: 60vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: grey;
  margin:0;
}

.all-projects .project-spine.active .title-text {
  width:95%;
  white-space: normal;
  overflow: auto;
  word-break: break-word;
  display:block;
  padding-left: 10px;
  font-size: 1.5rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}


.all-projects .project-spine.active .title-thesis {
  display:block;
  font-family:Westmeath;
  padding-left: 10px;
  font-size: 2rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}



.all-projects .project-spine.active .abstract-text {
  display:inline-block;
  white-space: normal;
  overflow: auto;
  word-break: break-all;
  font-size: 1rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}

.all-projects .project-spine.active .close {
  display:block;
  padding-left: 10px;
  font-size: 2rem;
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  margin:0;
}


}
