@media screen and (max-width: 844px) {

  @font-face {
    font-family: SpaceGrotesk;
    src: url("fonts/SpaceGrotesk.ttf");
  }

  *::-webkit-scrollbar {display: none;}
  * {-ms-overflow-style: none;
        scrollbar-width: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;}

  html, body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    overscroll-behavior: none;
    overscroll-behavior-x: none;
    width:100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    margin-bottom:0;
    padding:0;
    background: #f4f0ec;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    position:fixed;
    overflow-y: scroll !important;
    overflow-x : hidden !important;
  }

  .all-projects {
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;
    white-space: nowrap;
    overflow-x:hidden !important;
  }

  .project-spine {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    border: 1px solid black;

  }

  .project-spine-content {
    display: inline-block;
    position: relative;
    width: 95%;
    height: auto;
    padding:0.5em;
  }

  .title-text {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 1.5rem;
    padding:1em;
    font-family:SpaceGrotesk;
    color:#000;
    text-align: left;
    white-space: nowrap;
    writing-mode: horizontal-tb;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
  }

  .abstract-text {
    display:none;
  }

  .project-spine:hover{
    background: #f4f0ec;
  }

  .all-projects .project-spine.active {
    width: 100%;
    height: auto;
    background-color: #000;
    margin:0;
  }

  .all-projects .project-spine.active .title-text {
    display:block;
    width:95%;
    margin:0;
    overflow: auto;
    word-break: break-word;
    white-space: normal;
    padding-left: 0;
    font-size: 1rem;
    color: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    position: relative;
  }

  .all-projects .project-spine.active .abstract-text {
    display:inline-block;
    margin:0;
    width:95%;
    overflow: auto;
    white-space: normal;
    word-break: break-word;
    font-size: 1rem;
    color: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

  .all-projects .project-spine.active .student-name {
    display:block;
    margin:0;
    width:95%;
    overflow: auto;
    white-space: normal;
    word-break: break-word;
    font-size: 1rem;
    color: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

  .all-projects .project-spine-always-active {
    width: 100%;
    height: 30vh;
    background: #6869e0;
    margin:0;
  }

  .all-projects .project-spine-always-active .title-text {
    display:block;
    width:95%;
    margin:0;
    overflow: auto;
    word-break: break-word;
    white-space: normal;
    padding-left: 10px;
    font-size: 1.5rem;
    color: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

  .all-projects .project-spine-always-active .abstract-text {
    display:inline-block;
    margin-top: 4rem;
    width:85%;
    overflow: auto;
    white-space: normal;
    word-break: break-word;
    font-size: 1rem;
    color: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

  #one{
    margin-top: 6rem;
  }
  .active-desktop{
    display: none !important;
  }

  .active-mobile{
    display: block !important;
  }

}
